<html>

    <head>
        <title>{{ lobby }}</title>
        <link rel="stylesheet" type="text/css" href="static/Styles/style.css">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script>const lobby = "{{ lobby }}";</script>
        <script src="static/Scripts/lobby.js"></script>
    </head>

    <body>
        <div class="menu">
            <h1>{{ lobby }}'s Game Lobby:</h1>
            <h2 id="player_list"></h2>
            <br>
            <div class="setting">
                <h2>Mode</h2>
                <select onchange="mode_change(this)">
                    <option value="Connect4">Connect4</option>
                    <option value="Cards">Cards</option>
                </select>
            </div>
            <div id="connect4" style="display:block">
                <div class="setting">
                    <h2>Board Size</h2>
                    <input style="width:70px" value="7" type="number" id="width" /> x 
                    <input style="width:70px" value="6" type="number" id="height" />
                </div>
                <div class="setting">
                    <h2>Connect</h2>
                    <input style="width:70px" value="4" type="number" id="connect" />
                </div>
            </div>

            <div id="cards" style="display:none">

            </div>
            <button onclick="send_start()" style="margin-left:50%;transform: translate(-50%)">Start Game</button>
        </div>
    </body>

    <script>init();</script>

</html>
